---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Contact Me">
  <p>
    You can find me on:
  </p>
  <ul>
    <li>
      Instagram
    </li>
    <li>
      Facebook
    </li>
    <li>
      Linkedin
    </li>
    <li>
      Email @
    </li>
  </ul>
</Layout>